* {
    margin: 0;

}

.vertlorem {

    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.rougelorem {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.container-fluid {
    border-radius: 10px;
}

.container { 
    border-color: black;
    border-radius: 10px;
}

.pample {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 250px;
}

.formulaire {
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
}

.montableau {
    margin-top: 20px;
    border: solid 1px;
}

.imgtable {
    width: 100px;
}

.matable {
    margin-top: 50px;
    margin-bottom: 30px;
}

td, th {
    text-align: center;
    vertical-align: middle;
}

img:hover {
    background-color: aquamarine;
    border-radius: 10px;
    transform: scale(1.2);
}

img.affi:hover {
    background-color: rgb(255, 127, 127);
    border-radius: 10px;
    transform: scale(1.2);
}

.mabaniere {
    background-image: url(img/So.jpeg);
    height: 100vh;
    width: 1600px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panier {
    margin-left: 200px;
}

.lemien {
    margin-top: 50px;
}

.moitie {
    float: none;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid;
    width: 630px;
    margin-left: 10px;
}

.pasmoitie {
    float: none;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid;
    width: 26em;
    margin-left: 10px;
}



.card-text {
    min-height: 10px;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

p {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.qty{
    width: 200px;
}